In [22]:
pip install topsis-pushkar-manocha-102303751

Requirement already satisfied: topsis-pushkar-manocha-102303751 in c:\users\pushk\appdata\local\programs\python\python312\lib\site-packages (1.0.1)
Requirement already satisfied: numpy in c:\users\pushk\appdata\local\programs\python\python312\lib\site-packages (from topsis-pushkar-manocha-102303751) (2.4.1)
Requirement already satisfied: pandas in c:\users\pushk\appdata\local\programs\python\python312\lib\site-packages (from topsis-pushkar-manocha-102303751) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pushk\appdata\roaming\python\python312\site-packages (from pandas->topsis-pushkar-manocha-102303751) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pushk\appdata\local\programs\python\python312\lib\site-packages (from pandas->topsis-pushkar-manocha-102303751) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pushk\appdata\local\programs\python\python312\lib\site-packages (from pandas->topsis-pushkar-manocha-102303751) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\pushk\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas->topsis-pushkar-manocha-102303751) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd

data = {
    "Model": ["A", "B", "C", "D"],
    "Price": [250, 200, 300, 275],
    "Battery": [8, 6, 9, 7],
    "Camera": [12, 10, 14, 13],
    "Storage": [128, 64, 256, 128]
}

df = pd.DataFrame(data)
df.to_csv("input.csv", index=False)

df

  Model  Price  Battery  Camera  Storage
0     A    250        8      12      128
1     B    200        6      10       64
2     C    300        9      14      256
3     D    275        7      13      128

In [24]:
!topsis-pushkar-manocha-102303751 input.csv "1,1,1,1" "-,+,+,+" output.csv

TOPSIS completed successfully!
 Output file generated: output.csv

In [25]:
out = pd.read_csv("output.csv")
out

,Model,Price,Battery,Camera,Storage,Topsis Score (102303751),Rank (102303751)
0,A,250,8,12,128,0.389366,2
1,B,200,6,10,64,0.228452,4
2,C,300,9,14,256,0.771548,1
3,D,275,7,13,128,0.356630,3