In [ ]:
pip install topsis-pushkar-manocha-102303751

Requirement already satisfied: topsis-harshit-kansal-102303554 in /usr/local/lib/python3.12/dist-packages (1.0.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from topsis-harshit-kansal-102303554) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from topsis-harshit-kansal-102303554) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->topsis-harshit-kansal-102303554) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->topsis-harshit-kansal-102303554) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->topsis-harshit-kansal-102303554) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->topsis-harshit-kansal-102303554) (1.17.0)

In [ ]:
import pandas as pd

data = {
    "Model": ["A", "B", "C", "D"],
    "Price": [250, 200, 300, 275],
    "Battery": [8, 6, 9, 7],
    "Camera": [12, 10, 14, 13],
    "Storage": [128, 64, 256, 128]
}

df = pd.DataFrame(data)
df.to_csv("input.csv", index=False)

df

  Model  Price  Battery  Camera  Storage
0     A    250        8      12      128
1     B    200        6      10       64
2     C    300        9      14      256
3     D    275        7      13      128

In [ ]:
!topsis-hk input.csv "1,1,1,1" "-,+,+,+" output.csv

TOPSIS completed successfully!
 Output file generated: output.csv

In [ ]:
out = pd.read_csv("output.csv")
out

,Model,Price,Battery,Camera,Storage,Topsis Score (102303554),Rank (Harshit)
0,A,250,8,12,128,0.389366,2
1,B,200,6,10,64,0.228452,4
2,C,300,9,14,256,0.771548,1
3,D,275,7,13,128,0.356630,3